@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Volkhov&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background: url("image1.jpg");
    margin: auto;
}

@media only screen and (min-width:1200px) {
    .res {
        color: black;
        font-size: 15px;
        position: absolute;
        top: 330px;
        left: 110px;
    }
    .navbar {
        margin: auto;
        padding: auto;
        position: fixed;
        background-color: black;
        width: 75px;
        height: 100%;
    }
    .navbar:hover {
        animation-name: info;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    li {
        position: relative;
        top: 230px;
        padding-top: 80px;
    }
    .container {
        left: 25px;
        display: flex;
        text-align: center;
        position: relative;
        top: 170px;
        border-radius: 15px;
        width: 800px;
        height: auto;
        margin: auto;
        animation-name: oppa;
        animation-duration: 4s;
    }
    img {
        width: 400px;
        height: auto;
        position: relative;
        border-radius: 15px 0 0 15px;
    }
    .input-container {
        width: 450px;
        height: 533px;
        border-radius: 0 15px 15px 0;
        background-color: rgba(255, 255, 255, 0.712);
        position: relative;
    }
    .input-title {
        position: relative;
        top: 100px;
        font-size: 35px;
        font-family: 'Bangers', cursive;
        color: rgb(75, 58, 58);
    }
    .inputname {
        position: relative;
        top: 210px;
    }
    .inputpass {
        position: relative;
        top: 220px
    }
    input {
        top: 150px;
        width: 200px;
        height: 25px;
        border-radius: 5px;
        text-align: center;
        background-color: rgba(102, 130, 172, 0.349);
    }
    button {
        color: white;
        position: relative;
        top: 280px;
        width: 75px;
        height: 25px;
        border-radius: 5px;
        background-color: rgb(37, 82, 134);
    }
    button:hover {
        animation-name: btn1;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
    }
    #register {
        position: absolute;
        top: 435px;
        left: 81px;
        font-size: 15px;
        font-family: 'Volkhov', serif;
        color: rgb(92, 83, 83);
    }
    .reg {
        text-decoration-line: initial;
        color: inherit
    }
    i {
        color: white;
    }
    .lds-roller {
        position: relative;
        top: 120px;
        left: 157px;
        width: 60px;
        height: 60px;
    }
    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
    }
    .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: rgb(75, 58, 58);
        margin: -4px 0 0 -4px;
    }
    .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
    }
    .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
    }
    .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
    }
    .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
    }
    .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
    }
    .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
    }
    .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
    }
    .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
    }
    .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
    }
    .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
    }
    .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
    }
    .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
    }
    .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
    }
    .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
    }
    .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
    }
    .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
    }
    @keyframes lds-roller {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes btn1 {
        0% {
            width: 75px;
            height: 25px;
        }
        100% {
            width: 90px;
            height: 35px;
        }
    }
    @keyframes info {
        100% {
            width: 150px;
        }
    }
    @keyframes navv {
        0% {
            position: absolute;
            top: -1000px;
        }
        100% {
            top: 0px;
        }
    }
    @keyframes oppa {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@media screen and (max-width:1199px) and (min-width: 766px) {
    .res {
        color: black;
        font-size: 15px;
        position: absolute;
        top: 270px;
        left: 62px;
    }
    .navbar {
        margin: auto;
        padding: auto;
        position: fixed;
        background-color: black;
        width: 50px;
        height: 100%;
    }
    .navbar:hover {
        animation-name: info;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    li {
        position: relative;
        top: 170px;
        padding-top: 80px;
    }
    .container {
        left: 25px;
        display: flex;
        text-align: center;
        position: relative;
        top: 180px;
        border-radius: 15px;
        width: 600px;
        height: auto;
        margin: auto;
        animation-name: oppa;
        animation-duration: 4s;
    }
    img {
        width: 300px;
        height: auto;
        position: relative;
        border-radius: 15px 0 0 15px;
    }
    .input-container {
        width: 450px;
        height: 400px;
        border-radius: 0 15px 15px 0;
        background-color: rgba(255, 255, 255, 0.712);
        position: relative;
    }
    .input-title {
        position: relative;
        top: 80px;
        font-size: 28px;
        font-family: 'Bangers', cursive;
        color: rgb(75, 58, 58);
    }
    .inputname {
        position: relative;
        top: 150px;
    }
    .inputpass {
        position: relative;
        top: 160px
    }
    input {
        top: 120px;
        width: 200px;
        height: 25px;
        border-radius: 5px;
        text-align: center;
        background-color: rgba(238, 238, 240, 0.521);
    }
    button {
        color: white;
        position: relative;
        top: 220px;
        width: 75px;
        height: 25px;
        border-radius: 5px;
        background-color: rgb(37, 82, 134);
    }
    button:hover {
        width: 90px;
        height: 30px;
    }
    #register {
        position: absolute;
        top: 350px;
        left: 25px;
        font-size: 15px;
        font-family: 'Volkhov', serif;
        color: rgb(92, 83, 83);
    }
    .reg {
        text-decoration-line: initial;
        color: inherit
    }
    i {
        color: white;
    }
    @keyframes info {
        100% {
            width: 120px;
        }
    }
    @keyframes navv {
        0% {
            position: absolute;
            top: -1000px;
        }
        100% {
            top: 0px;
        }
    }
}

@media only screen and (max-width:765px) {
    .res {
        color: black;
        font-size: 15px;
        position: absolute;
        top: 140px;
        left: 67px;
    }
    #register {
        position: absolute;
        top: 350px;
        left: 25px;
        font-size: 15px;
        font-family: 'Volkhov', serif;
        color: rgb(92, 83, 83);
    }
    .container {
        text-align: center;
        position: relative;
        top: 60px;
        border-radius: 15px;
        width: 300px;
        height: 300px;
        margin: auto;
    }
    img {
        width: 300px;
        height: 250px;
        position: relative;
        border-radius: 15px 15px 0 0;
    }
    .input-container {
        top: -5px;
        width: 300px;
        height: 250px;
        border-radius: 0 0 15px 15px;
        background-color: rgba(255, 255, 255, 0.712);
        position: relative;
    }
    .input-title {
        position: relative;
        top: 20px;
        font-size: 20px;
        font-family: 'Bangers', cursive;
        color: rgb(75, 58, 58);
    }
    .inputname {
        position: relative;
        top: 40px;
    }
    .inputpass {
        position: relative;
        top: 50px
    }
    input {
        top: 150px;
        width: 200px;
        height: 25px;
        border-radius: 5px;
        text-align: center;
        background-color: rgb(205, 212, 223);
    }
    button {
        color: white;
        position: relative;
        top: 60px;
        width: 75px;
        height: 25px;
        border-radius: 5px;
        background-color: rgb(37, 82, 134);
    }
    #register {
        position: relative;
        top: 120px;
        font-size: 12px;
        font-family: 'Volkhov', serif;
        color: rgb(92, 83, 83);
    }
    .reg {
        text-decoration-line: initial;
        color: rgb(61, 52, 52);
    }
    .navbar {
        margin: auto;
        position: fixed;
        background-color: black;
        height: 37px;
        width: 100%;
    }
    li {
        position: relative;
        display: inline;
        color: white;
        margin: auto;
        padding: 15px;
    }
    a {
        margin: auto;
        color: white;
    }
    .inputname {
        position: relative;
        top: 40px;
    }
    .inputpass {
        position: relative;
        top: 50px
    }
    input {
        top: 150px;
        width: 200px;
        height: 25px;
        border-radius: 5px;
        text-align: center;
        background-color: rgb(205, 212, 223);
    }
    button {
        color: white;
        position: relative;
        top: 90px;
        width: 75px;
        height: 25px;
        border-radius: 5px;
        background-color: rgb(37, 82, 134);
    }
    #register {
        position: absolute;
        top: 210px;
        left: 56px;
        font-size: 12px;
        font-family: 'Volkhov', serif;
        color: rgb(92, 83, 83);
    }
    .reg {
        text-decoration-line: initial;
        color: rgb(61, 52, 52);
    }
}